<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="quickcalc">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Quick Calc</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compare">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Compare</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ratings">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Ratings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
