<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quick Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Pie Diameter (Width)</ion-label>
    <ion-input type="text" class="pizza-form-input" [(ngModel)]="pieAmeter" (ngModelChange)="zaSpecs = null" text-right id="input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Price</ion-label>
    <ion-input type="text" class="pizza-form-input" [(ngModel)]="price" (ngModelChange)="zaSpecs = null" text-right id="input"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Slices</ion-label>
    <ion-input type="text" class="pizza-form-input" [(ngModel)]="sliceCount" (ngModelChange)="zaSpecs = null" text-right id="input"></ion-input>
  </ion-item>

  <div *ngIf="zaSpecs">
    <div class="pizza-result-row">
      <span class="value-amount">
        {{zaSpecs.area | number:'1.2-2'}}
      </span>
      <span class="value-label">
        Total Area (in<sup>2</sup>)
      </span>
    </div>
    <div class="pizza-result-row">
      <span class="value-amount">
        {{zaSpecs.inchesPerDollar | number:'1.1-4'}}
      </span>
      <span class="value-label">
        Area of Pizza Per Dollar (in<sup>2</sup> / $)
      </span>
    </div>
    <div class="pizza-result-row">
      <span class="value-amount">
        {{zaSpecs.pricePerIn | number:'1.2-2'}}
      </span>
      <span class="value-label">
        A Dollar's Worth of Pizza ($ / in<sup>2</sup>)
      </span>
    </div>
    <div *ngIf="zaSpecs.areaPerSlice" class="pizza-result-row">
      <span class="value-amount">
        {{zaSpecs.areaPerSlice | number:'2.2-2'}}
      </span>
      <span class="value-label">
        Slice Area (in<sup>2</sup> / slice)
      </span>
    </div>
    <div *ngIf="zaSpecs.dollarsPerSlice" class="pizza-result-row">
      <span class="value-amount">
        {{zaSpecs.dollarsPerSlice | number:'2.2-2'}}
      </span>
      <span class="value-label">
        Slice Cost ($ / in<sup>2</sup>)
      </span>
    </div>
  </div>

  <div class="fixed bottom full-width">
    <div class="form-button" id="submit-button" (click)="calculateZaSpecs()">Calculate</div>
    <div class="form-button" id="cancel-button" (click)="zaSpecs = null">Clear</div>
  </div>
</ion-content>
